@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #b52e2e;
    width: 100%;
    position: absolute;
    top: 41px;
    left: 0;
    padding: 20px 0;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navbar h1 {
    font-size: 15px;
  }

  header {
    padding: 10px 20px;
  }
 .food-container {
    grid-template-columns: repeat(2, 1fr);
    
}
.food-container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}
.food-container h3 {
  margin: 1px ;
  font-size: 13px;
}
.food-container h3:last-of-type {
  font-size: 12px;
}
.food-container button {
  margin-top: 0px;
  padding: 0px 10px;
}
}

@media screen and (max-width: 600px) {
  .order-form {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }
}